.box{
    color: white;
    text-align: center;
    border: 2px solid green;
    background-color: green;
     margin: 20px;
}
.box2{
    border: 1px solid grey;
    background-color: grey;
    padding: 10px;
    margin: 20px;
    
}
button{
background-color: green;
padding: 5px;
}
input{
    margin: 10px;
}

.box img{
    width: 200px;
}

.image{
    width: 500px;
}

td{
    border: 1px solid grey;
    padding: 10px 200px;
}